@import './../../../styles/base/colors';
@import './../../../styles/utils/breakpoints';

.layout {
  margin: 0 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    color: $color--white;
  }

  &--backdrop {
    filter: blur(8px);
  }

  @include sm {
    margin: 0;
    padding-top: 150px;
    min-height: 100vh;
  }
}
