@import './../../../styles/base/colors';

.simplebar-scrollbar {
  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background: $color--violet;
  }
}

.simplebar-track {
  &.simplebar-vertical {
    width: 5px;
    background: $color--grey;
    border-radius: 5px;
  }
}
