@font-face {
  font-family: Lora;
  src: local(Lora-Regular), url(../../public/fonts/Lora/Lora-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lora;
  src: local(Lora-Bold), url(../../public/fonts/Lora/Lora-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
